*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(85, 83, 83);
}
.navbar{
    color: #fff;
}
.navbar>li{
    list-style-type: none;
    display: inline;
    margin-left: 45px;
    
}
.navbar>li:hover{
    color: rgb(202, 23, 23);
    transition: 0.1s;
    cursor: pointer;
}
.n-button{
    background-color: red;
    color: #fff;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;
}
#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   background-image: linear-gradient(90deg, #e9c2c2, #fff);
   
}
.dec{
    margin: 15px;
    padding: 35px;
}
#ABOUT{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;  
}
.kj{
   
    background-image:linear-gradient(90deg,rgb(32, 32, 30), rgb(41, 20, 20));
    color: #fff;
    padding: 65px;
    height: 60vh;
    
}
.ervice{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 45px;

}

.card{
    background-color: #080808;
    text-align: center;
    color: #fff;
    height: 300px;
    width: 220px;
    margin: 10px;
    padding: 15px;
    border: 2px solid #201e1e;
    box-shadow: 5px 5px 15px rgb(158, 107, 107);
}
footer{
    text-align: center;
    font-size: 15px;
    padding: 15px;
    color: #fff;
    background-color: black;
}
.contact{
    color: #fff;
    padding: 25px;
    font-size: 35px;
    text-align: center;
    background: #cf2d2d;
    font-style: oblique;
}
.contact-cont{
    background-image: linear-gradient(90deg, rgb(158, 105, 105), #da3131);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
}
.phn{
    text-align: justify;
    font-style: italic;
    font-size: 30px;
    border-left: 1px solid black;
    padding: 35px;
}
.navfat>ul{
    list-style-type: none;
    text-align: justify;
    font-style: italic;
    text-decoration: underline;
    font-size: 25px;
    border-left: 2px solid black;
    padding: 35px;
    cursor: pointer;
}
address{
    font-size: 25px;
}