*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(85, 83, 83);
}
.navbar{
    color: #fff;
}
.navbar>li{
    list-style-type: none;
    display: inline;
    margin-left: 45px;
    
}
.navbar>li:hover{
    color: red;
    font-size: 20px;
    border-bottom: 2px solid red;
    transition: 0.7s;
    cursor: pointer;
}
.n-button{
    background-color: red;
    color: #fff;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;
}
#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   background-image: linear-gradient(90deg, #e9c2c2, #fff);
   
}
.dec{
    margin: 15px;
    padding: 35px;
}
#ABOUT{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;  
}
.kj{
   
    background-image:linear-gradient(90deg,rgb(32, 32, 30), grey);
    color: #fff;
}
.ervice{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

}

.card{
    background-color: #080808;
    align-content: center;
    color: #fff;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #080808;
    box-shadow: 5px, 10px, 0.3 red;
}
footer{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    background-color: black;
}